dd,li,ul{list-style:none;color:#000}
li,ol,ul{list-style:none;list-style-type:none;list-style-position:initial;list-style-image:initial}
a:link{color:#000;text-decoration:none}
a:visited{color:#000;text-decoration:none}
a:hover{color:#CC0000;text-decoration:underline}
a:active{color:#000;text-decoration:none}
a{text-decoration:none;list-style:none;list-style-type:none}

body{height: 3050px;}

.navtop{
	width: 100%;
	height: 35px;
	border-bottom: 1px solid #CC0000;
	background-color: #F7F7F7;
}
.navtop-con{
	width: 980px;
	margin: 0 auto;
}
.navtop-con ul{
	float: right; 
	line-height: 35px;
}
.navtop-con a{

	border-right: 1px solid #464646; padding-right: 5px;
}


.nav{
	width: 982px;
	margin: 0 auto;
	margin-top: 10px; margin-bottom: 10px;
}

.listall{height: 80px; padding-top: 10px; width: 980px; margin: 0 auto; background-color: #F4F4F4;}
.navlist{background:#fff;width:980px;height:25px;margin:0 auto; background-color: #F4F4F4; padding-bottom: 15px;}
#navul li{float:left;margin-right:1px;width:105px;height:25px;position:relative;text-align:center;line-height:25px;border-right: 1px solid #C1C1C1;   }
#navul li.navhome{text-align:left;width:105px;text-align: center;}
#navul li a:link,#navul li a:visited{color:#000}
#navul li ul{display:none;position:absolute;z-index:10000;left:-1px;background:#fff}
#navul li ul li{display:block;width:105px;float:none;margin-right:0;height:28px;position:relative;line-height:28px;font-size:12px}
#navul li.navmoon{background:#fff;width:105px;line-height:25px}
#navul li.navmoon a{color:#000}
#navul li.navhome a:hover{color:#BA4A5C}
#navul li.navmoon ul{display:block}
#navul li.navmoon ul a{display:block;width:105px;height:28px;line-height:28px;font-size:15px}
#navul li.navmoon ul a:hover{background:#f5f5f5}
#navul li a{font-size:16px}

.navlist2{background:#fff;width:980px;height:25px;margin:0 auto; background-color: #F4F4F4;}
.navlist2 li{background:#fff;width:980px;height:25px;margin:0 auto; background-color: #F4F4F4;}

.navbanner{width: 980px; margin: 0 auto; height: 75px;}
.mt10{margin-top: 10px;}
.mt8{margin-top: 8px;}
.navcon{width: 980px; margin: 0 auto; border: 2px solid #CC0000;background-color: #FDFAE7;}
.nav-focus{width: 950px; margin: 0 auto}
.nav-focus ul{height: 35px;}
.nav-focus li{float: left; width: 50%; text-align: center; font-size: 16px; line-height: 32px;}


.con1{width: 1000px; height: 360px;  margin: 0 auto; margin-top: 10px;}
.con1-lft{width: 590px;height: 350px;float: left;margin-left: 10px;float: left;display: inline-block;overflow: hidden;white-space: nowrap;}
.focusBox{float:left; position: relative; width: 590px; height: 290px; margin-bottom:10px; overflow: hidden; font-family:Arial; text-align: left; background:#fff;}
.focusBox li{float: left;   position: absolute;}
.focusBox .pic img{width: 590px; height: 290px; display: block;}
.focusBox .pic{width: 590px; height: 290px; display: block; float: left;}
.focusBox .txt-bg{position: absolute; bottom: 0; z-index: 1; height: 28px; width:100%; background: #333; filter: alpha(opacity=40); opacity: 0.4; overflow: hidden;}
.focusBox .txt{position: absolute; bottom: 0; z-index: 2; height: 28px; width:100%; overflow: hidden;}
.focusBox .txt li{height:28px; line-height:30px; position:absolute; bottom:-36px;}
.focusBox .txt li a{display: block; color: white; font-size: 12px; text-decoration: none;}
.focusBox .num{position: absolute; z-index: 3; bottom: 5px; right: 8px;}
.focusBox .num li{float: left; position: relative; width: 18px; height: 15px; line-height: 15px; overflow: hidden; text-align: center; margin-right: 1px; cursor: pointer;}
.focusBox .num li a,.focusBox .num li span{position: absolute; z-index: 2; display: block; color: white; width: 100%; height: 100%; top: 0; left: 0; text-decoration: none;}
.focusBox .num li span{z-index: 1; background: black; filter: alpha(opacity=50); opacity: 0.5;}
.focusBox .num li.on a,.focusBox .num a:hover{background:#f60;}
.con1-lft-bottom{border: 1px solid #D6D6D6;width: 590px; height: 40px; background-color: #F6F6F6;}
.fml20{float: left; margin-left: 20px;}
.con1-lft-bottom ul{line-height: 38px;height: 35px;}
.con1-rht{width: 370px; height: 340px; float: left; margin-left: 10px;}
.c1ru1{width: 336px;  margin-left: auto; margin-right: auto; margin-bottom: 4px;}
.c1ru2{float: left; width: 370px;  margin-left: 20px; font-size: 16px; line-height: 25px;}
.con1title{font-size: 17px; text-align: center;}
.con1content{text-indent: 2em; margin-top: 5px; margin-bottom: 5px;  color: #555555;}
.con2{width: 970px; margin: 0 auto;}

.adSlide{ width:100%;  height:89px;; overflow:hidden; position:relative; clear:both; margin-bottom:10px;    }
.adSlide .hd{ position:absolute; z-index:1; right:5px; bottom:5px; }
.adSlide .hd ul{ overflow:hidden; zoom:1; float:left;  }
.adSlide .hd ul li{ float:left; margin-right:2px;  width:16px; height:16px; line-height:16px; text-align:center; background:#fff; cursor:pointer;  filter:alpha(opacity=60);opacity:0.6;   }
.adSlide .hd ul li.on{ background:#f60;   font-weight:bold; filter:alpha(opacity=100);opacity:1; color:#fff;   }
.adSlide .bd{ position:relative;  z-index:0; }
.adSlide .bd img{ width:970px; height:89px;  }


.con3{width: 980px; height: 300px; margin: 0 auto; margin-top: 10px; border: 1px solid #D7D7D7;}
.con3-focus{width: 970px; margin: 0 auto;}
.con3-nav{height: 31px; background-color: #F7F7F7;}

.con4{width: 1000px; margin: 0 auto; margin-top: 10px; height: 409px;}
.con4-lft{width: 320px; height: 405px; float: left;}
.con4-lft-nav{width: 320px; height: 39px; background-image: url(../img/gcdt.png);background-repeat: no-repeat;}
.con4-lft-up{height: 180px;}
.con4-lft-up ul{width: 300px; height: 180px; float: left; line-height: 25px; padding-left: 20px; font-size: 15px;}
.con4-lft-down li{float: left; width: 140px; height: 80px; text-align: center;}


.con4-ctr{float: left; width:335px; height: 405px;}
.con4-ctr-nav{height: 32px; height: 39px; background-image: url(../img/wmcj.png);background-repeat: no-repeat;}
.l30{line-height: 30px;}
.l25{line-height: 25px;}
.fr{float: right;}
.con4-ctr-con{width: 320px; height: 350px; float: left; line-height: 25px; padding-left: 20px; font-size: 15px;}
.con4-rht{width: 330px; height: 405px; float: left;}
.con4-rht-nav{width: 330px; height: 39px; background-image: url(../img/zthd.png);background-repeat: no-repeat;   }
.con4-rht-con ul{width: 290px; padding-left: 30px;}
.mb10{margin-bottom: 10px;}
.con5{width: 980px; margin: 0 auto; margin-top: 10px; height: 260px;}
.con5-lft{width: 320px; height: 260px; float: left;}
.con5-lft-nav{width: 320px; height: 39px; background-image: url(../img/jwmsxf.png); background-repeat: no-repeat;}
.con5-lft-up{height: 180px;}
.rhtimg{width: 170px; height: 100px; float: left; margin-left: 10px;}


.con5-ctr{float: left; width:335px; height: 260px;}
.con5-ctr-nav{width:335px; height: 39px; background-image: url(../img/ddmf.png); background-repeat: no-repeat;}
.con5-rht{width: 320px; height: 260px; float: left;}
.con5-rht-nav{width: 320px; height: 32px;}


.slideTxtBox{ float:right;  width:320px; height:260px; overflow:hidden; background:#fff;  text-align:left;  }
.slideTxtBox .hd{ height:32px; line-height:32px;   }
.slideTxtBox .hd ul{ overflow:hidden; zoom:1;  }
.slideTxtBox .hd ul li{ float:left; }
.slideTxtBox .hd ul li a{ display:block; padding:0 15px;  }
.slideTxtBox .hd ul li a:hover{ text-decoration:none;  }
.slideTxtBox .hd ul li.on a{ background:#CC2802; color:#fff; font-weight:bold;  }
.slideTxtBox .bd{ padding:10px;  }
.slideTxtBox .bd li{ height:24px; line-height:24px;   }
.slideTxtBox .bd li .date{ float:right; color:#999;  }


.con6{width: 980px; margin: 0 auto; margin-top: 10px; height: 260px;}
.con6-lft{width: 320px; height: 260px; float: left;}
.con6-lft-nav{width: 320px; height: 39px; background-image: url(../img/zyfw.png); background-repeat: no-repeat;}
.con6-lft-up{height: 180px;}

.con6-ctr{float: left; width:335px; height: 260px;}

.con6-ctr-nav{width: 335px; height: 39px; background-image: url(../img/wcnr.png); background-repeat: no-repeat;}
.conlist{float: left; line-height: 27px; font-size: 15px; width: 320PX;}
.con6-rht{width: 320px; height: 260px; float: left;}
.con6-rht .bd ul{font-size: 15px; line-height: 30px;}
.con6-rht-nav{width: 320px; height: 32px;}

.con7{width: 980px; margin: 0 auto; margin-top: 10px; height: 260px;}
.con7-lft{width: 320px; height: 260px; float: left;}
.con7-lft-nav{width: 320px; height: 39px; background-image: url(../img/zcxt.png); background-repeat: no-repeat;}
.con7-lft-up{height: 180px;}
.con7-ctr{float: left; width:335px; height: 260px;}

.con7-ctr-nav{width: 335px; height: 39px; background-image: url(../img/wmdjr.png); background-repeat: no-repeat;}
.con7-ctr-con ul{width: 320px; height: 220px; float: left;}
.con7-rht{width: 320px; height: 260px; float: left;}


.con7-rht-nav{width: 320px; height: 39px;background-image: url(../img/whd.png); background-repeat: no-repeat;}
.con7-rht-con ul{width: 280px; height: 220px; float: left; margin-top: 10px;}
.con7-rht-con li{float: left; width: 120px; text-align: center; height: 110px;}
.navtitle{color: #FFFFFF; font-size: 16px; line-height: 28px;  width: 104px; text-align: center; float: left;}
.navtitle1{color: #FFFFFF; font-size: 16px; line-height: 28px;  width: 208px; text-align: center; float: left;}



.con8{width: 980px; margin: 0 auto; margin-top: 10px;}
.adSlide1{ width:100%;  height:80px;; overflow:hidden; position:relative; clear:both; margin-bottom:10px;    }
.adSlide1 .hd{ position:absolute; z-index:1; right:5px; bottom:5px; }
.adSlide1 .hd ul{ overflow:hidden; zoom:1; float:left;  }
.adSlide1 .hd ul li{ float:left; margin-right:2px;  width:16px; height:16px; line-height:16px; text-align:center; background:#fff; cursor:pointer;  filter:alpha(opacity=60);opacity:0.6;   }
.adSlide1 .hd ul li.on{ background:#f60;   font-weight:bold; filter:alpha(opacity=100);opacity:1; color:#fff;   }
.adSlide1 .bd{ position:relative;  z-index:0; }
.adSlide1 .bd img{ width:976px; height:80px;  }




.con9{width: 990px; margin: 0 auto; margin-top: 25px; height: 220px;}
.con9-nav{width: 980px; height: 32px;}
.scroll_horizontal{margin-top:35px; position:relative;width:980px; height:150px;padding:10px; padding-left: 0px; float: left;}
.scroll_horizontal .box{overflow:hidden;position:relative;width:880px;height:150px;margin:0 auto;}
.scroll_horizontal .list{overflow:hidden;width:9999px; height: 170px;}
.scroll_horizontal .list li{float:left; margin-right: 0px; width: 178px;}
.scroll_horizontal .prev,
.scroll_horizontal .next{position:absolute;margin-top:25px; width:40px;height:50px;background-image:url(../img/control.png);background-repeat:no-repeat;font:0/0 Arial;cursor:pointer;}
.scroll_horizontal .prev{background-position:0 0;}
.scroll_horizontal .next{right:5px;background-position:-40px 0;}
.scroll_horizontal .prev:hover{background-position:0 -50px;}
.scroll_horizontal .next:hover{background-position:-40px -50px;}
.scroll_horizontal .list li a{font-size: 15px; text-align: center;}

.contract{width: 990px; height: 280px; margin: 0 auto;}
.contract-nav{width: 990px; height: 35px; background-color: #F1F1F1; border-top: 3px solid #C20109; line-height: 35px;}

.more{float: right; line-height: 25px; margin-right: 20px;}


.listyle{
	background-image: url(../img/listyle.png);
	background-repeat: no-repeat;
	padding-left: 12px;
}
















